@import url("//hello.myfonts.net/count/33b9f0");
@import url("//hello.myfonts.net/count/33c67f");
@import url("//hello.myfonts.net/count/33d747");
@font-face {
  font-family: 'StRyde-Light';
  src: url("../fonts/StRyde/33D747_0_0.eot");
  src: url("../fonts/StRyde/33D747_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/StRyde/33D747_0_0.woff2") format("woff2"), url("../fonts/StRyde/33D747_0_0.woff") format("woff"), url("../fonts/StRyde/33D747_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url("../fonts/helvetica/33C67F_0_0.eot");
  src: url("../fonts/helvetica/33C67F_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/33C67F_0_0.woff2") format("woff2"), url("../fonts/helvetica/33C67F_0_0.woff") format("woff"), url("../fonts/helvetica/33C67F_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'HelveticaNeueLTStd-Md';
  src: url("../fonts/helvetica/33C67F_1_0.eot");
  src: url("../fonts/helvetica/33C67F_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/33C67F_1_0.woff2") format("woff2"), url("../fonts/helvetica/33C67F_1_0.woff") format("woff"), url("../fonts/helvetica/33C67F_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url("../fonts/helvetica/33C67F_2_0.eot");
  src: url("../fonts/helvetica/33C67F_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/33C67F_2_0.woff2") format("woff2"), url("../fonts/helvetica/33C67F_2_0.woff") format("woff"), url("../fonts/helvetica/33C67F_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'HelveticaNeueLTStd-Bd';
  src: url("../fonts/helvetica/33C67F_3_0.eot");
  src: url("../fonts/helvetica/33C67F_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/33C67F_3_0.woff2") format("woff2"), url("../fonts/helvetica/33C67F_3_0.woff") format("woff"), url("../fonts/helvetica/33C67F_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'StRyde-Italic';
  src: url("../fonts/StRyde/33B9F0_0_0.eot");
  src: url("../fonts/StRyde/33B9F0_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/StRyde/33B9F0_0_0.woff2") format("woff2"), url("../fonts/StRyde/33B9F0_0_0.woff") format("woff"), url("../fonts/StRyde/33B9F0_0_0.ttf") format("truetype");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'StRyde-Medium';
  src: url("../fonts/StRyde/33B9F0_1_0.eot");
  src: url("../fonts/StRyde/33B9F0_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/StRyde/33B9F0_1_0.woff2") format("woff2"), url("../fonts/StRyde/33B9F0_1_0.woff") format("woff"), url("../fonts/StRyde/33B9F0_1_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'StRyde-Regular';
  src: url("../fonts/StRyde/33B9F0_2_0.eot");
  src: url("../fonts/StRyde/33B9F0_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/StRyde/33B9F0_2_0.woff2") format("woff2"), url("../fonts/StRyde/33B9F0_2_0.woff") format("woff"), url("../fonts/StRyde/33B9F0_2_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'StRyde-Bold';
  src: url("../fonts/StRyde/33B9F0_3_0.eot");
  src: url("../fonts/StRyde/33B9F0_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/StRyde/33B9F0_3_0.woff2") format("woff2"), url("../fonts/StRyde/33B9F0_3_0.woff") format("woff"), url("../fonts/StRyde/33B9F0_3_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: 'StRyde-MediumItalic';
  src: url("../fonts/StRyde/33B9F0_4_0.eot");
  src: url("../fonts/StRyde/33B9F0_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/StRyde/33B9F0_4_0.woff2") format("woff2"), url("../fonts/StRyde/33B9F0_4_0.woff") format("woff"), url("../fonts/StRyde/33B9F0_4_0.ttf") format("truetype");
  font-style: italic;
  font-weight: 700; }

/* Combination of both Rich Clark's reset.css on http://html5doctor.com (which in itself is an extension of Eric Meyer's reset.css http://meyerweb.com/eric/tools/css/reset/) and
 * Nicolas Gallagher's normalize.css (http://necolas.github.io/normalize.css/). May still be some overlap between both, still cleaning up.
 */
/* This just helps a whole bunch on mobile browsers, etc */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* Removed b & i tags. Removed list styling from this default, add a nolist class. Apply this to ul/ol if this styling is required. */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, .nolist, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

ol, ul, li {
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:active, a:hover {
    outline: 0; }
  a:before, a:after {
    display: inline-block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

ins {
  background-color: #ffffff;
  color: #6e6e6e;
  text-decoration: none; }

del {
  text-decoration: line-through; }

mark {
  background: #ffffff;
  color: #6e6e6e; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/*fieldset {
  border: 1px solid $border-color;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  width: auto;
}*/
input, select, button {
  vertical-align: middle; }

button, input, select, textarea {
  font-family: inherit;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

strong {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Personal accessibility class. Use this to hide elements you don't want sighted users to see, but should be kept for screen readers */
.inv {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  margin: -1px;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0); }

/*
 * Vendor Prefix generator
 */
/*
 * a small mixin for easy use of rem with px as fallback
 * usage: @include x-rem(font-size, 14px)
 * usage: @include x-rem(margin, 0 12px 2 1.2)
 * usage: @include x-rem(padding, 1.5 24px)
 *
 * thanks to Eric Meyer for https://github.com/ericam/susy
 * and Hans Christian Reinl for http://drublic.de/blog/rem-fallback-sass-less/
 */
/*
 * Linear gradient generator. 'start' is top, 'end' is bottom. IE9 support not included using CSS SVG include.
 *
 * Use http://www.colorzilla.com/gradient-editor/ to generate IE9 SVG element
 *
 */
/****************** BUTTONS **************************/
/*
 * Linear gradient generator. 'start' is top, 'end' is bottom. IE9 support not included using CSS SVG include.
 *
 * Use http://www.colorzilla.com/gradient-editor/ to generate IE9 SVG element
 *
 */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5; }

a.skip-content {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: 0;
  color: #6e6e6e; }
  a.skip-content:focus {
    width: auto;
    height: auto;
    padding: 9px 10px;
    border: 1px solid #999999;
    display: block;
    top: 0;
    left: 0;
    z-index: 9999999; }

/*# sourceMappingURL=default.css.map */
