<div id="cookie">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-xs-9">
                <p>
                    {{site.data.content.cookies.message}} <a href="{{site.data.content.cookies.linkUrl}}">{{site.data.content.cookies.linkLabel}}</a>.
                </p>
            </div>
            <div class="col-sm-2 col-xs-3 text-right">
                <input type="button" id="cookieBtn" class="btn btn-primary" value="{{site.data.content.cookies.buttonText}}"/>
            </div>
        </div>
    </div>
</div>