
    <h1>H1 Heading Example</h1>
    <h2>H2 Heading Example</h2>
    <h3>H3 Heading Example</h3>
    <h4>H4 Heading Example</h4>
    <hr/>
    <p>Cras elit risus, tristique id <span class="phone">1850 372 757</span> nunc quis, ornare efficitur
        nisl. In hac habitasse platea dictumst.
        Aliquam
        velit elit, finibus in diam ac, porta faucibus ligula <span class="phone" aria-label="0900111222">0900 111 222</span>.
        Sed vehicula pulvinar sem eget ultricies.
        Duis eu
        mauris arcu.
        Morbi quis sodales ante. <a href="#/">Link within text</a> Nunc auctor fermentum eros, ut tincidunt
        urna
        pretium et. Praesent
        efficitur
        mauris consequat lacinia laoreet. Mauris accumsan tincidunt neque, ac placerat magna sagittis sit
        amet.
        In hac habitasse platea dictumst.</p>
    <ol>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
    </ol>
    <ul>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
    </ul>
